<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <arg name="videopath"   default="" />
  <arg name="fps"         default="24" />

  <arg name="bagpath"     default="" />
  <arg name="imgtopic"    default="/video" />
  <arg name="compressed"  default="false" />

  <arg name="params"      default="default" />
  <arg name="tuning"      default="true" />
  <arg name="show_tracks" default="true" />

  <!-- videopath:     path to video file            (video only)            -->
  <!-- fps:           desired framerate             (video only)            -->

  <!-- bagpath:       path to recording             (rosbag only)           -->
  <!-- imgtopic:      set to topic from recording   (rosbag only)           -->
  <!-- compressed:    set if compressed             (rosbag only)           -->

  <!-- params:        name of .yaml contained the desired parameter values  -->
  <!-- tuning:        enables dynamic reconfigure and displays measurements -->
  <!-- show_tracks:   enables display of tracking results                   -->

  <!-- #################################################################### -->

  <!-- decompress video if needed -->
  <node if="$(arg compressed)"
    pkg="image_transport"
    type="republish"
    name="republish"
    output="log"
    args="compressed in:=$(arg imgtopic) raw out:=$(arg imgtopic)">
  </node>

  <!-- launch visual_mtt -->
  <include file="$(find visual_mtt2)/launch/visual_mtt.launch">
    <arg name="params" value="$(arg params)"/>
    <arg name="tuning" value="$(arg tuning)"/>
    <arg name="show_tracks" value="$(arg show_tracks)"/>
    <arg name="imgtopic" value="$(arg imgtopic)"/>
  </include>

  <!-- play video -->
  <node unless="$(eval videopath == '')" pkg="visual_mtt2" type="video_player.py" name="player" output="screen">
    <param name="input" value="$(arg videopath)"/>
    <param name="fps" value="$(arg fps)"/>
    <remap from="output" to="$(arg imgtopic)"/>
  </node>

  <!-- play rosbag -->
  <param unless="$(eval bagpath == '')" name="use_sim_time" type="bool" value="true"/>
  <node unless="$(eval bagpath == '')" pkg="rosbag" type="play" name="player" args="-l $(arg bagpath) --clock" launch-prefix="xterm -e" />

</launch>