<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<!-- args to be passed in -->
	<arg name="videopath" default="" />
	<arg name="bagpath" default="" />
	<arg name="fps" default="24" />
	<arg name="imgtopic" default="/video" />
	<arg name="imutopic" default="/imu/data" />
	<arg name="compressed" default="false" />
	<arg name="show_tracks_video" default="true" />

	<!-- Launch R-RANSAC -->
	<include file="$(find visual_mtt2)/launch/visual_mtt.launch">
		<!-- <arg name="use_imu" value="false" /> -->
		<!-- Show the output of the camera with RRANSAC tracks overlaid -->
		<!-- <arg name="show_tracks_video" value="$(arg show_tracks_video)" /> -->
		<!-- Show the difference image for debugging how well the homography is doing -->
		<!-- <arg name="show_diff_img_video" value="false" /> -->
		<!-- Show moving objects to debug LK optical flow with homography -->
		<!-- <arg name="show_moving_obj_video" value="false" /> -->
		<!-- Allow subscribing to compressed video topics (only applies for rosbags) -->
		<!-- <arg name="compressed" value="$(arg compressed)" /> -->

		<!-- remap image and imu topics to what the user wants (imu only applies for rosbags) -->
		<arg name="imgtopic" value="$(arg imgtopic)" />
		<!-- <arg name="imutopic" value="$(arg imutopic)" /> -->
	</include>

	<!-- Play the user's video -->
	<node unless="$(eval videopath == '')" pkg="visual_mtt2" type="simplevideo2ros.py" name="simplevideo2ros" output="screen">
		<param name="input" value="$(arg videopath)"/>
		<param name="fps" value="$(arg fps)"/>
		<remap from="output" to="$(arg imgtopic)"/>
	</node>

	<!-- Play the user's rosbag -->
	<node unless="$(eval bagpath == '')" pkg="rosbag" type="play" name="player" args="-l $(arg bagpath)" launch-prefix="xterm -e" />
</launch>
