<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <arg name="params"          default="default" />
  <arg name="tuning"          default="false" />
  <arg name="show_tracks"     default="true" />
  <arg name="pub_output_img"  default="false" />
  <arg name="imgtopic"        default="/image_raw" />

  <!-- params:          name of .yaml contained the desired parameter values  -->
  <!-- tuning:          enables dynamic reconfigure and displays measurements -->
  <!-- show_tracks:     enables display of tracking results                   -->
  <!-- pub_output_img:  enables publishing of the tracking result image       -->
  <!-- imgtopic:        name of the topic that contains the video             -->

  <!-- ###################################################################### -->

  <!-- load the specified parameters -->
  <rosparam command="load" file="$(find visual_mtt)/param/$(arg params).yaml" />

  <!-- start the visual frontend -->
  <node pkg="visual_mtt" type="visual_frontend" name="visual_frontend" output="screen">
    <param name="tuning" type="bool" value="$(arg tuning)" />
    <remap from="video" to="$(arg imgtopic)" />
  </node>

  <!-- start R-RANSAC -->
  <node pkg="visual_mtt" type="rransac" name="rransac" output="screen">
    <param name="show_tracks"     type="bool" value="$(arg show_tracks)" />
    <param name="pub_output_img"  type="bool" value="$(arg pub_output_img)" />
    <remap from="video" to="$(arg imgtopic)" />
  </node>

  <!-- start dynamic reconfigure gui -->
  <node if="$(arg tuning)"
    pkg="rqt_reconfigure"
    type="rqt_reconfigure"
    name="dynamic_reconfigure"
    output="log">
  </node>

</launch>